* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    /* font-family: 'Courier New', Courier, monospace; */
   }

html {
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    /* animation: flicker 700ms linear; */
    /* background-image: url(./images/myphoto.png); */
}
#logo{
    font-size: 2.5rem;
    background-color: #bd71c9;
    border-radius: 10px;
}
.ash{
    /* display: none; */
    display: inline-block;
    transform: translateY(-100px);
    font-size: 2.5rem;
    transition: 300ms;
    margin-bottom: 0px;
}
.anime{
    
    transform: translateY(0px);
    
}
/* .zoom{
    transform: scale(2);
} */

nav{

width: 100%;
/* background-color: black; */


}

#links{
    transition: color 100ms cubic-bezier(0.075, 0.82, 0.165, 1);    
    color: white;
    text-decoration: underline;
    font-size: 1.8em;
}
#links:hover{
color:#bd71c9;

}


#name{
font-size: 72px;
font-family: 'Rubik Moonrocks', cursive;
font-weight: 900;
}


.main p{
    font-size:1.5em;
    line-height: 1;
}
#catch{
    font-size: 1.8em;
    color: #bd71c9;
}

.role{
    color: rgb(143, 143, 143);

}
#portrait{
    width: 100%;
}

.main{
    height: 100vh;
}

@media(max-width:910px){

    .main{
        top: 114px;
        flex-direction: column;
        width: auto;
        position: relative;
        height: auto;

    }
    #name{
        font-size: 42px;
    }

}

.works{
  flex-direction: column;
  height: auto;
}
.works h3{
  font-size: 42px;
font-family: 'Rubik Moonrocks', cursive;
font-weight: 900;
}
.projects{
  width: 100%;
  flex-direction: column;
}
.projects li{
  color: black;
  font-size: 1.8em;
  width: 80%;
  text-align: center;
  list-style: none;
  background-image: linear-gradient(to right top, #525b69, #3c4e55, #2d3f3f, #25302a, #1e2119);
  border-radius: 20px;
  margin: 0.5em;
}

.projects li a{
  color: inherit;
}

.projects li:hover{
  background-image: linear-gradient(to right top, #214174, #1b4789, #144c9e, #1051b2, #1555c7);
}
section{
  height: 100vh;
}