* {
    margin: 0;
    padding: 0;
    /* color: white; */
    
    letter-spacing: 1px;
    /* font-family: 'Courier New', Courier, monospace; */
   }
:root{
    --accent:rgb(211, 99, 226);
    --accent_opacity:rgb(211, 99, 226,0.3);
    --secondary:#fff;
}
@font-face {
    font-family:'Supreme';
    src: url(./fonts/FuturaBold.ttf);
}

.mono{
    font-family: monospace;
}
.rale{
    font-family: 'raleway';
}
.rale-bold{
    font-family: 'raleway';
    font-weight: 700;
}
.pop{
    font-family: 'Poppins';
}
/* poppins,supreme
google sans ,nexa ,avanir-next,averta cy,raleway,league spartan,caluna
*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #495670;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary); 
  }

html {
    scroll-behavior: smooth;
}
body{
    background-color: #0A182E;
    /* animation: flicker 700ms linear; */
    /* background-image: url(./images/myphoto.png); */
}
#logo{
    font-size: 2.5rem;
    background-color: var(--accent);
    border-radius: 10px;
}
.ash{
    /* display: none; */
    display: inline-block;
    transform: translateY(-100px);
    font-size: 2.5rem;
    transition: 300ms;
    margin-bottom: 0px;
}
.anime{
    
    transform: translateY(0px);
    
}
/* .zoom{
    transform: scale(2);
} */

@media(max-width:750px) {
    #gitStatus{
        display: none;
    }
}

.sideBar{
    position: fixed;
    left: 1em;
    bottom: 0px;   
}
.sideLinks{
    margin-bottom: 0px;
    font-size: 18px;
    list-style: none;
}

.sideLinks>li{
    padding: 10px;
}
.sideLinks>li>a{
    color: var(--secondary);
    display: inline-block;
    transition: 200ms ease-in-out;
}
.sideLinks>li>a:hover{
    color: var(--accent);
    transform: translateY(-5px);
}

.mailBar{
    display: inline-block;
    position: fixed;
    right: 30px;
    bottom: 0px;
    writing-mode: vertical-rl;
}

.mailBar>a{
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 200ms ease-in-out;
}
.mailBar>a:hover{
    color: var(--accent);
    transform: translateY(-5px);
}
.mailBar::after{
    content: "";
    display: inline-block;
    height: 80px;
    width: 1px;
    background-color: var(--secondary);
    margin: 0px auto;
    margin-top: 20px;
    box-sizing: border-box;
}

@media(max-width:750px){
    .sideBar{
        display: none;
    }
    .mailBar{
        display: none;
    }
}
.sideLinks::after{
    content: "";
    display: block;
    height: 80px;
    width: 1px;
    background-color: var(--secondary);
    margin: 0px auto;
    margin-top: 20px;
    box-sizing: border-box;
}

nav{

width: 100%;
/* background-color: black; */


}

#links{
    transition: color 100ms cubic-bezier(0.075, 0.82, 0.165, 1);    
    color: white;
    text-decoration: underline;
}
#links:hover{
color:var(--accent);

}


#name{
font-size: 72px;
font-family: 'Poppins';
/* font-weight: 900; */
}



#catch{
    color: var(--accent);
}
#catch span{
    color: rgba(255, 255, 255, 0.829);
}

#portrait{
    width: 100%;
}


.main a{
    text-decoration: none;
    /* font-family: ; */
}
.main a:hover{
    background-color: var(--accent_opacity);
}
.profile-pic{
    width: fit-content;
}
@media(max-width:770px){

    .main{
        /* margin-top: 114px; */
        height: 100vh;
        flex-direction: column;
        width: auto;
        /* position: relative; */
        

    }
    #name{
        font-size: 42px;
    }
    #catch{
        font-size: 24px ;
    }
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.747);
    }
    #aboutMe{
    margin-bottom: 5rem;
    }

}

@media(min-width:770px){
    .main{
        height: 100vh;
    }
#aboutMe{
    height: 80vh;
}

.projects li{
    padding: 1em;
}
}
.skills ul li{
    list-style-type: none;
}
.skills ul li::before{
    content: '➤';
}









.projects {
    list-style: none;
}


.projects li{
    padding-top: 1em;
    padding-bottom: 1em;
}

/* @media (min-width:777px) {
    section{
        height: 100vh;
      }
} */


.card{
    background-color: #112240;
    height: 375px;
    font-family: 'Roboto';
    font-weight: bold;
}


.card-text{
    font-family: 'Roboto';
    font-size: 14px;
    color: #8294b9;
    margin-bottom: 30px;
}
.card-body a{
    position: absolute;
    bottom: 14px;
    text-decoration: none;
}
.card-body a:hover{
    background-color: var(--accent_opacity);
}
form button{
    background-color: transparent;
}

form button:hover{
    background-color: var(--accent_opacity);
}

.hov:hover{
    text-decoration: none;
    background-color: var(--accent_opacity);
}
.footer-links{
    color: white;
}

.footer-links>li{
    display: inline-block;
    padding: 0px 1em;
}

.footer-links>li>a{
    color: var(--secondary);
    display: inline-block;
    transition: 200ms ease-in-out;
}
.footer-links>li>a:hover{
    color: var(--accent);
    transform: translateY(-5px);
}

.progress-loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    background: rgba(236, 236, 238, 0.253);
    height: 10px;
    border-radius: 7px;
}

.progress {
    width: 1px;
    height: 10px;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    animation: loading_44 2s cubic-bezier(.4, 1.01, 1, 1) infinite;
}

@keyframes loading_44 {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

main {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}